# Игнорировать файлы временных данных
*.tmp
*.log

# Игнорировать папку с зависимостями
node_modules/

# Игнорировать файлы конфигурации
.env

# Игнорировать кэш
__pycache__/

# Игнорировать виртуальное окружение
venv/