<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Система учёта посещаемости{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <div class="nav-menu">
        <a href="/" {% if request.url.path == "/" %}class="active"{% endif %}>Посещаемость</a>
        <a href="/students" {% if request.url.path == "/students" %}class="active"{% endif %}>Студенты</a>
        <a href="/dates" {% if request.url.path == "/dates" %}class="active"{% endif %}>Даты</a>
    </div>

    {% block content %}{% endblock %}
</body>
</html> 